<section class="test-product-layout">
  {%- style -%}
    h2 {
      font-size: 6rem;
    }
    .test-product-layout {
      display: flex;
      max-height: 100vh;
      height: 100%;
    }
    .test-product-layout > div {
      flex: 1;
    }
    .test-product-layout-images {
      overflow: scroll;
    }
  {%- endstyle -%}

  <div class="test-product-layout">
    {% comment %} Products {% endcomment %}
    <div class="test-product-layout-images">
      {% for item in product.images %}
        <img src="{{ item | image_url }}" loading="lazy">
      {% endfor %}
    </div>

    <div>
      <h2>{{ product.title }}</h2>
      <p>{{ product.description }}</p>

      <div class="no-js-hidden" id="price-{{ section.id }}" role="status" {{ block.shopify_attributes }}>
        {%- render 'price', product: product, use_variant: true, show_badges: true, price_class: 'price--large' -%}

        {%- render 'buy-buttons',
          block: block,
          product: product,
          product_form_id: product_form_id,
          section_id: section.id,
          show_pickup_availability: true
        -%}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "main test product",
  "settings": [
    {
      "id": "tax_notice",
      "type": "text",
      "label": "Tax notice"
    },
    {
      "id": "show_reviews",
      "type": "checkbox",
      "label": "Show reviews"
    }
  ]
}
{% endschema %}
